<% for (var i = 0; i < menuMainButtons.length; i++) { %>
<a href="#page_action=<%= menuMainButtons[i].targetaction %>&data_context=<%= menuMainButtons[i].datacontext %>" class="list-group-item discord-at-dynbutton" data-context="<%= menuMainButtons[i].contextid %>"><%= menuMainButtons[i].textcontent %></a>
<% } %>