<div class="row max-container" id="dat-text-scroller">
    <div class="col-xs-12 col-lg-12 dat-text-container">
        <% for (var i = chatMessages.length-1; i >= 0; i--) { %>
        <p class="dat-chat-name"><%= chatMessages[i].sender %></p>
        <p class="dat-chat-message"><%= chatMessages[i].message %></p>
        <hr class="dat-chat-hr" />
        <% } %>
    </div><!--/.col-xs-6.col-lg-4-->

</div><!--/row-->
<div class="dat-input-container">
    <form action="/send-chat-message" method="post" class="dat-servmsg-form">
        <div class="col-xs-10 col-sm-10 dat-input-text-container">
            <textarea id="msg" class="form-control dat-input-text" name="msg" rows="3" placeholder="Enter message"></textarea>
        </div>
        <div class="col-xs-2 col-sm-2 dat-input-button-container">
            <input type="submit" class="btn btn-primary btn-xs dat-input-button" data-toggle="offcanvas" value="Send"/>
        </div>
        <input type="hidden" value="<%= channel %>" name="channelId" />
    </form>
</div>
<script src="../static/js/chatajaxhandler.js"></script>