<!-- views/index.ejs -->
<!--!doctype html-->
<html>
<head>
    <title>Discord Admin Tool</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">-->

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet" />

    <link href="../static/css/style.css" rel="stylesheet" />


    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    
</head>
<body>
   
    <%- include("./topnavbar.ejs") %>

    <div class="container-fluid max-container">

        <div class="row row-offcanvas row-offcanvas-left">
        <!--  TODO: Basically the two parts of the page should be loaded in with AJAX completely
            Together with them the AJAX would take any context information we have and fill the page content up (combine template + data)
            We need to also serve breadcrumbs and also change the URL paths, so that the page could be reached again 
            Routes file should basically be the request handler: take the context and request and ship it off to a controller -->
            <!-- TODO: We need a template loading for the sidebar here with AJAX (contentloader + route) -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="discordat-menu-loading" style="display: none;">
                    <!--<img src="/shell/images/ajaxload-15-white.gif" alt="Loading">--> Loading content...
                </div>
                <div class="list-group discordat-menubuttons-container">
                    
                </div>
            </div>

            <!-- TODO: We need a template loading for the main content div here with AJAX (menuloader + route) -->
            <div class="col-xs-12 col-sm-9 dat-chat-container">
                <p class="pull-left visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="dat-chat-container" id="dat-chat-text-ajax">

                </div>
                
            </div><!--/.col-xs-12.col-sm-9-->

            <!--/.sidebar-offcanvas-->
        </div><!--/row-->

        <hr />

    </div><!--/.container-->
</body>
</html>