<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Discord Admin Tool</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--<meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">-->

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/main.css" rel="stylesheet">


    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">-->
    
</head>
<body>
    <!--<div class="container-fluid pre-fill-height">
        <h1>Hello World!</h1>
        <div class="row pre-fill-height dat-content">
            <div class="col-sm-3 fill-height dat-subdiv dat-menu" style="background-color:yellow;">
                <p>Lorem ipsum...</p>
            </div>
            <div class="col-sm-9 fill-height dat-subdiv dat-contextbox" style="background-color:pink;">
                <p>Sed ut perspiciatis...</p>
            </div>
        </div>
    </div>-->

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="container-fluid max-container">

        <div class="row row-offcanvas row-offcanvas-left">
        <!--  TODO: Basically the two parts of the page should be loaded in with AJAX completely
            Together with them the AJAX would take any context information we have and fill the page content up (combine template + data)
            We need to also serve breadcrumbs and also change the URL paths, so that the page could be reached again 
            Routes file should basically be the request handler: take the context and request and ship it off to a controller -->
            <!-- TODO: We need a template loading for the sidebar here with AJAX (contentloader + route) -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <div class="discordat-menu-loading" style="display: none;">
                    <!--<img src="/shell/images/ajaxload-15-white.gif" alt="Loading">--> Loading content...
                </div>
                <div class="list-group discordat-menubuttons-container">
                    <!--<a href="#" class="list-group-item active">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>
                    <a href="#" class="list-group-item">Link</a>-->
                    <!-- Get the context based template, then get the data for the template and load it? -->
                    
                    <!--<%-  include(getMenuTemplate(''), getMenuData(''))%>-->
                    
                </div>
            </div>

            <!-- TODO: We need a template loading for the main content div here with AJAX (menuloader + route) -->
            <div class="col-xs-12 col-sm-9 dat-chat-container">
                <p class="pull-left visible-xs">
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
                </p>
                <div class="row max-container">
                    <div class="col-xs-12 col-lg-12 dat-text-container">
                        <div class="dat-fill-chat"></div>
                        <p class="dat-chat-name">vedler</p>
                        <p class="dat-chat-message">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <hr class="dat-chat-hr" />
                        <p class="dat-chat-name">vedler</p>
                        <p class="dat-chat-message">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <hr class="dat-chat-hr" />
                        <p class="dat-chat-name">vedler</p>
                        <p class="dat-chat-message">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <hr class="dat-chat-hr" />
                        <p class="dat-chat-name">vedler</p>
                        <p class="dat-chat-message">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <hr class="dat-chat-hr" />
                    
                    
                        <!--<h2>Heading</h2>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>-->
                    </div><!--/.col-xs-6.col-lg-4-->
                    
                </div><!--/row-->
                <div class="dat-input-container">
                    <div class="col-xs-10 col-sm-10 dat-input-text-container">
                        <textarea id="msg" class="form-control dat-input-text" name="msg" rows="3" placeholder="Enter message"></textarea>
                    </div>
                    <div class="col-xs-2 col-sm-2 dat-input-button-container">
                        <button type="button" class="btn btn-primary btn-xs dat-input-button" data-toggle="offcanvas">Send</button>
                    </div>
                </div>
            </div><!--/.col-xs-12.col-sm-9-->

            <!--/.sidebar-offcanvas-->
        </div><!--/row-->

        <hr>

        <!--<footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>-->

    </div><!--/.container-->
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.msie-bwcompat.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/js/fluidmenu.js"></script>
    <script src="../static/js/jquery.ba-bbq.min.js"></script>
    <script src="../static/js/ejs.min.js"></script>
    <script src="../static/js/ajaxhandler.js"></script>
</body>
</html>