<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Sidebar -->
<div class="w3-sidebar w3-white w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item">Menu</h3>
  <a href="#" class="w3-bar-item w3-button">Voice</a>
  <a href="#" class="w3-bar-item w3-button">Appearance</a>
  <a href="#" class="w3-bar-item w3-button">Language</a>
</div>

<!-- Page Content -->
<div style="margin-left:25%">

<div class="w3-container w3-white">
  <h1>Broken options menu WIP</h1>
</div>
<div class="w3-container">
<p>Placeholder text</p>
<p>Options stuff wip</p>
</div>

</div>
      
</body>
</html>
    